.category-card{
    display: flex;
    height: 80vh;
    gap: 10px;
    margin: 10px;
    transition: ease all .5s;
    
 

    .col{
        flex: 1;
        display: flex;
        gap: 10px;
        flex-direction: column;
        transition: ease all .5s;

    }

    .col2{
        flex: 2;
        transition: ease all .5s;

    }

    .row{
        flex: 1;
        display: flex;
        gap: 10px;
        position: relative;
        overflow: hidden;

        button{
            position: absolute;
            min-width: 100px;
            width: fit-content;
            height: 50px;
            padding: 10px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            cursor: pointer;
            border: none;
            background-color: white;
            text-transform: uppercase;
        }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 768px) {
    .category-card{
        flex-direction: column;
        transition: ease all .5s;
       .row2{
        button{
            top: -8em;
          
           
           
           } 
       }
       
    }
    .col{
        height: 40vh;
    }
    .mid-col{
        height: 20vh;
    }
   
  
   

}